#age{
    color:rgb(42%, 42%, 46%);

}
.text_margin{
    margin: 2cm;
}
body{
    font-family: 'Roboto', sans-serif;
    text-align:center;
    background-color: hsl(185,75%,39%);
}
    
}
.the_card{
    display: grid;
    

    text-align: center;
    
    top: 50%;
    right:50%;
    bottom: 50%;
    left: 50%;
    width: 230px;
    height: 350px;
    grid-template-columns: 150px;
    grid-template-rows: auto;
    background-color: rgb(40, 213, 236);
    position:absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.the_other_grid{
    display:grid;
    grid-template-columns: auto auto auto;
}

.background_image_Victor_crest{
    background-size:contain;
    border-radius: 8%;
    height: 150px;
}




img {

text-align: center;
width: 110px;
height:110px;
margin:-55px auto 30px auto;

}
.photo{
    border-radius: 50%;
    border: 3px palegoldenrod;
}
.imagebackground{
    position: absolute;
    
    background-size: cover;
    animation: 2s circles forwards;
    opacity: 0;
    
    
}
.imagebackground2{
    position: absolute;
    left: 50%;
    top: 48%;
    
    }
    